<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    
    <body>
        <%- partial('_partial/header') %>
        
        <div class="container">
            <div style="border-bottom:1px solid #eaedf3;"></div>
            
            <%- body %>
            <!--body是一个变量，代表页面的主要内容。在渲染模板时，这个变量会被替换为实际的内容。-->
            <div style="border-bottom:1px solid #eaedf3;"></div>
            <%- partial('_partial/footer') %>
        </div>
    </body>
</html>