<article class="post-content">

<script>hljs.highlightAll();</script>    
<div class="post-title">
        <h2><%= page.title %></h2>
    </div>
    <div>
        <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
    </div>
    <div class="post-font">
        <%- page.content %>
    </div>
</article>
<!--把higlightAll放到最后，确保DOM都加载完成-->
<script>hljs.highlightAll();</script>
<script src="<%- url_for('/js/codeblock.js') %>"></script>

<!--显示文章页相关内容-->