<article class="post-content">
    <div class="post-title">
        <h2><%= page.title %></h2>
    </div>
    <div>
        <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
    </div>
    <div class="post-font">
        <%- page.content %>
    </div>
</article>
<!--显示文章页相关内容-->