.footer{
    margin-top: 10px;
    margin-left: 34px;
    padding: 1px 50px;

    display: flex;
    color: #eaedf3;
    background-color: #002b36;
    
}

.theme{
text-decoration: none;
color: #eaedf3;
&:hover{
    color: #66ccff;
}
}


