.header{
    margin: 1em auto;
    margin-left: 308px;
    padding: 5px 50px;
    max-width: 960px;
    display: flex;
    align-item: baseline
    jsutify-content: sapce-between


    .logo{
    color: #eaedf3;
    font-size: 1.5em;
    font-family: "Yuanti SC";
    text-decoration: none;
    margin-right: 100px;
    }

    

.menu{
    
    margin: 0;
    padding-top: 19px;

    .menu-item-link{
    color: #eaedf3;
    font-size: 1em;
    margin-left: 20px; 
    text-decoration: none;
    &:hover{
        color: #66ccff;
         }
        }
    }
}





