
.post {
    margin: 1em auto;
    padding: 5px 50px;
    display: flex;
    background-color: #002b36;
    


}

.posts  {
    .post:first-child {
        margin-top: 0;
    }

    .post-title {
        .post-title-link {
            color: #eaedf3;
            text-decoration: none;
                &:hover{
                    color: #66ccff;
                }
            
        }
    }


    .post-meta {
        margin-right: 20px;
        color: #BABABA;
    }
}