
.post {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    background-color: #002b36;
    img {
            max-width: 100%;
            height: auto;
        }

}

.posts  {

    .post-title {
        text-decoration: none;
        color: #eaedf3;
        &:hover{
            color: #66ccff;
    }
            
    }

    .post-meta {
        margin-right: 20px;
        color: #BABABA;
    }
}