body {
    background-color: #002b36;
    font-family: SimSun;
    font-size: 1.25rem;
    line-height: 1.5;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

@import "../_partial/header";
@import "../_partial/index";
@import "../_partial/footer";