body {
    background-color: #002b36;
    font-family: SimSun;
    font-size: 1.25rem;
    line-height: 1.5;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

@import "../_partial/header";
@import "../_partial/index";
@import "../_partial/footer";
@import "../_partial/page-nav";
@import "../_partial/post";