<footer>
    <p>s4mmy &copy; <%- date(Date.now(), 'YYYY') %> | Recorded for better expression</p>
    <p> <a href="https://github.com/s4mmyyy/hexo-theme-life" target="_blank">theme</a></p>
</footer>