<footer class="footer">
    <p>s4mmy &copy; <%- date(Date.now(), 'YYYY') %>&nbsp;| &nbsp;Recorded for better expression🧡&nbsp;|
        <a href="https://github.com/s4mmyyy/hexo-theme-life" target="_blank" class="theme">&nbsp;Theme</a>
    
    </p>
</footer>