<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=1" name="viewport">
    <title><%= config.title %></title> <!--使用config中的全局变量title作为标题-->
</head>