<% if (page.total> 1 ){ %>
    <div class="post">
        <%- paginator(
            {
                prev_text: '<span class="page-nav">上一页</span>',
                next_text: '<span class="page-nav">下一页</span>',
                escape: false
            }
        ) %>
    </div>
<% } %>
